.app {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
  margin: 20px;
  background: aquamarine;
 }
 .todo-item p {
  color: black;
  text-decoration: none;
  padding: 10px;
 }